{% extends 'template/template.html.twig' %}

{% block content %}
	<div id="infoMessage">{{ validation_errors() }}</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4" align="center">
			<form action="{{base_url()}}welcome/results" method="get" accept-charset="utf-8">
			{{ form_open('welcome/results') }}
				<div class="form-group">
					<input type="text" class="form-control" name="key_word" placeholder="What are you looking for?">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</div>
	</div>
{% endblock %}